.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  width: 40%;
  height: auto;
  padding: 5%;
  background-image: url("../../assets/images/background.jpeg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  border: 1px solid #fff  !important;
  color: #fff !important;
  font-size: 20px !important;
  text-transform: uppercase !important;
  border-radius: 8px !important;
  top:50%;
  left:50%;
  margin: auto;
  transform: translate(-50%,-50%);
}

.card-details-modal {
  width: 20%;
  max-width: 25%;
}

.favourite-m {
  z-index: 100000000;
  outline: none !important;
  border: none;
  right: 20px;
}

.close-modal {
  cursor: pointer
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media screen and (max-width: 766px) {
  .modal-main {
    width: 100%;
  }
}